$font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #eee;
$o-primary-color: #111;
$accent-color: #E14120;
$subaccent-color: #BC2208;
$background-color: #222;
$o-background-color: #eee;

/* Overall */
body {
  font-family: $font-family;
  background-color: $background-color;
  color: $primary-color;
  padding: 1em;
}

.container {
  max-width: 750px;
  border-right: .1em solid $o-background-color;
  border-left: .1em solid $o-background-color;
}

.page {
  border-bottom: .1em solid $o-background-color;
}

a {
  color: $accent-color;
  text-decoration: none;
  outline: 0;
  &:visited {
    color: $accent-color;
  }
  &:hover, &:focus, &:active {
    color: $subaccent-color;
  }
}

/* Components */
.text-center {
  text-align: center;
}

/* Header */
.header {
  border-top: .1em solid $o-background-color;

  .logo {
    margin: 1em;
  }

  .circle {
    display: block;
    float: right;
    margin: 4em 1em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    animation: backgroundCircle 6s ease-in-out infinite;
  }

  .circle-hidden {
    margin: 2.5em auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
  }

  .circle:hover > .circle-hidden {
    animation: backgroundCircle 2s ease-in-out infinite;
  }

  @keyframes backgroundCircle {
    0% {
      background-color: $background-color;
    }
    50% {
      background-color: $accent-color;
    }
    100% {
      background-color: $background-color;
    }
  }
}

/* Footer */
.footer {
  padding: 1em;
}

/* Index */
#index_page {
  .links {
    padding: 1em 0;
  }
}


/* Media Queries */

/* Mobile & Phablets */
@media (max-width: 550px) {
  .logo {
    text-align: center;
    margin: 0 !important;
  }

  .circle {
    float: none !important;
    margin: 0 auto !important;
  }
}
