$font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #eee;
$o-primary-color: #111;
$accent-color: #BC2208;
$subaccent-color: #E14120;
$background-color: #222;
$o-background-color: #ddd;

/* Overall */
body {
  font-family: $font-family;
  background-color: $background-color;
  color: $primary-color;
}

a {
  color: $accent-color;
  text-decoration: none;
  outline: 0;
  &:visited {
    color: $accent-color;
  }
  &:hover, &:focus, &:active {
    color: $subaccent-color;
  }
}

/* Components */
.text-center {
  text-align: center;
}

/* Header */
.header {
  margin: 2em 0;
}

/* Footer */
.footer {
}

/* Index */
#index_page {
  .logo {
    margin: 1em;
  }

  .links {
    margin: .5em 0;
    padding: .5em 0;
  }

  .circle {
    margin: 0 auto;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    display: inline-block;
    animation: backgroundCircle 6s ease-in-out infinite;
  }

  .circle-hidden {
    margin: 2.5em auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
  }

  .circle:hover > .circle-hidden {
    animation: backgroundCircle 2s ease-in-out infinite;
  }

  @keyframes backgroundCircle {
    0% {
      background-color: $background-color;
    }
    50% {
      background-color: $accent-color;
    }
    100% {
      background-color: $background-color;
    }
  }
}
