.icon {
  display: inline-block;
  background-size: 100%;
  height: 64px;
  width: 64px;
  line-height: 0;
  text-indent: -200%;
  text-align: center;
  white-space: nowrap;
  &.icon-link {
    &:hover {
      text-indent: 0;
    }
  }

  /* Icons From https://github.com/danleech/simple-icons */
  &.angel {
    background-image: url(/assets/images/angellist-64.png);
  }
  &.github {
    background-image: url(/assets/images/github-64.png);
  }
  &.linkedin {
    background-image: url(/assets/images/linkedin-64.png);
  }
}
